.wrapper {
  width: 100%;
  height: 100vh;
  padding: 100px;
  background-image: linear-gradient(to bottom, #28b7d5, #082256);
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: repeat(5, auto);
  align-content: start;
}
.search-wrapper {
  display: flex;
  flex: 1 1 600px;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  grid-column: 2 / span 2;
}

.search-icon {
  padding: 10px;
  background-color: white;
  color: black;
}
.search-input {
  padding: 10px 10px 10px 0;
  border: none;
  flex: 1;
  outline: none;
}
.search-input::placeholder {
  text-transform: uppercase;
}

.city-name {
  font-size: 5rem;
  text-align: center;
  margin: 10px 0 10px 0;
  grid-row: 2;
  grid-column: 2 / span 2;
}

.time-and-weather {
  grid-row: 3;
  grid-column: 3;
}

.more-info {
  grid-row: 4;
  grid-column: 3;
}

/* Time and Weather */
.time-and-weather {
  display: flex;
  align-items: center;
}

.time {
  font-size: 5rem;
  margin-right: 35px;
}

.more-info {
  display: flex;
}

.temperature span,.humidity span,.wind span {
  font-size: 3.5rem;
}