.wrapper {
  width: 100%;
  height: 100vh;
  padding: 100px;
  background-image: linear-gradient(
    to bottom,
    #24cfd6,
    #00bdd8,
    #00aad7,
    #0096d1,
    #1781c6
  );
}
.search-wrapper {
  margin: 0 auto;
  display: flex;
  flex: 1 1 300px;
  border: 1px solid #ccc;
  overflow: hidden;
  width: 100%;
  max-width: 700px;
}
.search-icon {
  padding: 10px;
  background: white;
}
.search-input {
  border: 0;
  padding: 10px 10px 10px 0;
  flex: 1;
}
.search-input::placeholder {
  text-transform: uppercase;
}
