<main class="wrapper">
  <div class="search-wrapper">
    <i class="fal fa-search search-icon"></i>
    <input type="search" placeholder="Search city" class="search-input" />
  </div>
  <h1 class="city-name">Stara Zagora, Bulgaria</h1>
  <div class="time-and-weather">
    <span class="time">21:00</span>
    <img src="" alt="Weather icon" />
  </div>
  <div class="more-info">
    <div class="temperature">
      <img src="" alt="Temperature icon" />
      <span>18°</span>
    </div>
    <div class="humidity">
      <img src="" alt="Humidity icon" />
      <span>38%</span>
    </div>
    <div class="wind">
      <img src="" alt="Wind speed icon" />
      <span>3m/s</span>
    </div>
  </div>
</main>