/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: FrankRuhlHofshi;
  src: url('./assets/Fonts/FrankRuhlHofshi-Regular.otf');
}
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-size: 16px;
  color: white;
  font-family: 'FrankRuhlHofshi', Times, serif;
  background-image: linear-gradient(to bottom, #28b7d5, #082256);
  height: 100vh;
}
