<div class="day">
  <div class="day-weather">
    <img src="../assets/Images/rainy.png" />
    <div>16°/28°</div>
  </div>
  <div class="day-name">
    <div>Today</div>
  </div>
</div>
<div class="day">
  <div class="day-weather">
    <img src="../assets/Images/rainy.png" />
    <div>16°/28°</div>
  </div>
  <div class="day-name">
    <div>Today</div>
  </div>
</div>
<div class="day">
  <div class="day-weather">
    <img src="../assets/Images/rainy.png" />
    <div>16°/28°</div>
  </div>
  <div class="day-name">
    <div>Today</div>
  </div>
</div>
<div class="day">
  <div class="day-weather">
    <img src="../assets/Images/rainy.png" />
    <div>16°/28°</div>
  </div>
  <div class="day-name">
    <div>Today</div>
  </div>
</div>
<div class="day">
  <div class="day-weather">
    <img src="../assets/Images/rainy.png" />
    <div>16°/28°</div>
  </div>
  <div class="day-name">
    <div>Today</div>
  </div>
</div>